.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    background-color: #15161A;
    padding-top: 5rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}